# DataFrames

In [3]:
import pandas as pd
import numpy as np

In [4]:
from numpy.random import randn
np.random.seed(101)

In [5]:
df = pd.DataFrame(randn(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())

In [6]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

## Selection and Indexing

Let's learn the various methods to grab data from a DataFrame
- df['W']
- df[['W','Z']]
- df.W -- SQL syntax - not recommended

DataFrame Columns are just Series
- check the type of df['W']

**Creating a new column:**
- new column by addition of two columns df['W'] + df['Y']
- new column by assigning a scalar value df['age']=40

** Removing Columns**
- df.drop(<name of the column>, axis = 1)
- df.drop(<name of the row>, axis = 0)
- use inplace for permanent drop

** Selecting Columns**

In [40]:
df[['W','X']]

          W         X
A  2.706850  0.628133
B  0.651118 -0.319318
C -2.018168  0.740122
D  0.188695 -0.758872
E  0.190794  1.978757

### Conditional Selection

An important feature of pandas is conditional selection using bracket notation, very similar to numpy: