In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [5]:
column_names = ['user_id', 'item_id', 'rating', 'timestamp']
df = pd.read_csv('user_ratings.data', sep='\t', names=column_names)
df.head()

   user_id  item_id  rating  timestamp
0        0       50       5  881250949
1        0      172       5  881250949
2        0      133       1  881250949
3      196      242       3  881250949
4      186      302       3  891717742

In [4]:
movie_titles = pd.read_csv("id_titles")
movie_titles.head()

   item_id              title
0        1   Toy Story (1995)
1        2   GoldenEye (1995)
2        3  Four Rooms (1995)
3        4  Get Shorty (1995)
4        5     Copycat (1995)

- merge on item_id using pd.merge() on item_id

- ratings dataframe by taking a groupby on ratings and mean()

- add a column to ratings dataframe of the count of ratings

- create a pivot table df.pivot_table(index='user_id',columns='title',values='rating')

- get data from the pivot table for a movie

- use corrwith on the matrix and pass the data of the movie