In [1]:
from datetime import datetime, timedelta

In [2]:
datetime.now()

datetime.datetime(2018, 4, 29, 13, 47, 4, 514265)

In [3]:
n = datetime.now()

In [4]:
type(n)

datetime.datetime

In [7]:
n2 = datetime.now()

In [8]:
n2 - n

datetime.timedelta(0, 61, 523981)

In [9]:
n

datetime.datetime(2018, 4, 29, 13, 47, 50, 107606)

In [10]:
timedelta(days=1)

datetime.timedelta(1)

In [11]:
n + timedelta(days=1)

datetime.datetime(2018, 4, 30, 13, 47, 50, 107606)

In [14]:
times = [ n + timedelta(days = i) for i in range(1,300,10)]

In [16]:
len(times)

30

In [17]:
import numpy as np
import pandas as pd

In [18]:
s = pd.Series(range(30), times)

In [20]:
s.index.dtype

dtype('<M8[ns]')

In [27]:
s['2018-04':'2018-05']

2018-04-30 13:47:50.107606    0
2018-05-10 13:47:50.107606    1
2018-05-20 13:47:50.107606    2
2018-05-30 13:47:50.107606    3
dtype: int64

In [29]:
n , n.strftime('%Y-%m-%d')

(datetime.datetime(2018, 4, 29, 13, 47, 50, 107606), '2018-04-29')

In [31]:
s = '2018-04-29'
datetime.strptime(s, '%Y-%m-%d')

datetime.datetime(2018, 4, 29, 0, 0)

In [32]:
s = pd.Series([1,2,3], ['05-10-2018', '06-10-2018', '07-10-2018'])

In [33]:
s

05-10-2018    1
06-10-2018    2
07-10-2018    3
dtype: int64

In [35]:
s.index

Index(['05-10-2018', '06-10-2018', '07-10-2018'], dtype='object')

In [37]:
s.index = map(lambda x : datetime.strptime(x,'%m-%d-%Y'), s.index)

In [40]:
s['2018-05']

2018-05-10    1
dtype: int64

In [42]:
pd.to_datetime(['05-99-2018', '06-10-2018', '07-10-2018'])

ValueError: day is out of range for month

In [51]:
def f(n):
    l = [0,1,2]
    print(l[n])
    print(1/n)

try:
    f(1)
except:
    print("Something wrong happend")

1
1.0

In [58]:
def f(n):
    l = [0,1,2]
    print(l[n])
    print(1/n)
    hellosomething

try:
    f(1)
except IndexError as err:
    print("Something wrong happend", err)
except ZeroDivisionError as err:
    print("Zero div", err)
except Exception as err:
    print("I have no idea what", err)

1
1.0
I have no idea what name 'hellosomething' is not defined

In [59]:
class UnsupportedError(Exception):
    pass

In [61]:
uobj = UnsupportedError()
raise uobj

UnsupportedError:

In [63]:
raise UnsupportedError("Expected 4 columns only 3 present")

UnsupportedError: Expected 4 columns only 3 present

In [64]:
df = pd.DataFrame(np.arange(9).reshape(3,3))

In [65]:
df

   0  1  2
0  0  1  2
1  3  4  5
2  6  7  8

In [74]:
m = df[[1,2]].copy()

In [75]:
m

   1  2
0  1  2
1  4  5
2  7  8

In [76]:
m[1] = 10

In [72]:
m

    1  2
0  10  2
1  10  5
2  10  8

In [73]:
df

   0  1  2
0  0  1  2
1  3  4  5
2  6  7  8