In [1]:
import re

In [5]:
p = 'hello'
t = 'hello good morning hello'

In [6]:
m = re.search(p,t)
print(m.start(), m.end())

0 5

In [7]:
re.findall(p,t)

['hello', 'hello']

In [8]:
for m in re.finditer(p,t):
    print("Found at", m.start(), m.end())

Found at 0 5
Found at 19 24

### Character by character and no overlapping patterns

In [9]:
p = 'sas'
t = 'sasasas'
re.findall(p,t)

['sas', 'sas']

In [10]:
for m in re.finditer(p,t):
    print("Found at", m.start(), m.end())

Found at 0 3
Found at 4 7

### Literal repetition
### Greedy by default
- xy* => x followed by 0 to n number of y

In [11]:
p = 'xy*'
t = 'xyxyxxxyyyyxyyyy'
re.findall(p,t)

['xy', 'xy', 'x', 'x', 'xyyyy', 'xyyyy']

- xy+ => x followed by 1 to n of y

In [12]:
p = 'xy+'
re.findall(p,t)

['xy', 'xy', 'xyyyy', 'xyyyy']

In [13]:
p = 'xy{3}'
re.findall(p,t)

['xyyy', 'xyyy']

In [15]:
p = 'xy{1,4}'
t = t + "xyyxyyy"
re.findall(p,t)

['xy', 'xy', 'xyyyy', 'xyyyy', 'xyy', 'xyyy']

In [16]:
p = 'xy?'
re.findall(p,t)

['xy', 'xy', 'x', 'x', 'xy', 'xy', 'xy', 'xy']

### character set

In [17]:
p = 'x[xy]*'
re.findall(p,t)

['xyxyxxxyyyyxyyyyxyyxyyy']

In [21]:
t = 'Rs 1975494.90'
p = '[0123456789.]+'
re.findall(p,t)

['1975494.90']

In [22]:
t = 'Rs 1975494.90'
p = '[0-9.]+'
re.findall(p,t)

['1975494.90']

In [24]:
p='[A-Za-z]+'
re.findall(p,t)

['Rs']

In [25]:
t = 'Date 10-05-2018'
p = '[0-9]{2}-[0-9]{2}-[0-9]{4}'
re.findall(p,t)

['10-05-2018']

In [26]:
t = 'Date 10-05-2018'
p = '\d{2}-\d{2}-\d{4}'
re.findall(p,t)

['10-05-2018']

In [27]:
t = 'Mfg Date 10-05-2018 Exp Date 10-05-2021'
p = '\d{2}-\d{2}-\d{4}'
re.findall(p,t)

['10-05-2018', '10-05-2021']

In [29]:
t = 'Mfg Date 10-05-2018 Exp Date 10-05-2021'
p = 'Exp Date (\d{2}-\d{2}-\d{4})'
re.findall(p,t)

['10-05-2021']

In [31]:
t = 'Mfg Date 10-05-2018 Exp Date 10-05-2021'
p = 'Exp Date ((\d{2})-(\d{2})-(\d{4}))'
re.findall(p,t)

[('10-05-2021', '10', '05', '2021')]

In [34]:
for m in re.finditer(p,t):
    print(m.group(0), "...",  m.group(1) , "..." , m.group(2) , "...", m.group(3), "...", m.group(4))

Exp Date 10-05-2021 ... 10-05-2021 ... 10 ... 05 ... 2021

In [36]:
t = 'Mfg Date 10-05-2018 Exp Date 10-05-2021'
p = r'Exp Date (?P<expdate>(?P<day>\d{2})-(?P<month>\d{2})-(?P<year>\d{4}))'

for m in re.finditer(p,t):
    print(m.group('expdate'), "...",  m.group('day') , "..." , m.group('month') , "...", m.group('year'))

10-05-2021 ... 10 ... 05 ... 2021

In [37]:
t = 'monday tuesday friday'
p = 'monday|tuesday'
re.findall(p,t)

['monday', 'tuesday']

In [38]:
t = 'man eats mango'
p = 'man|mango'
print(re.findall(p,t))
p  ='mango|man'
print(re.findall(p,t))

['man', 'man']
['man', 'mango']

In [42]:
p = 'man(go)?'
print(re.findall(p,t))
for m in re.finditer(p,t):
    print(m.group(0))

['', 'go']
man
mango

In [44]:
t = 'class strength is 26.only 10 present.'
p = '.+(\d+)\.'
re.findall(p,t)

['6']

In [45]:
t = 'class strength is 26.only 10 present.'
p = '.+?(\d+)\.'
re.findall(p,t)

['26']